p{
    text-align: center;
    font-size: 25px;
    font-family: 'Blackadder ITC';
    color: rgb(0, 0, 0);
    
}
h1{ 
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}



.title_design{
    height: 150px;
    background-color: rgba(255, 136, 0, 0.7);
    display:flex;
    justify-content: center; /* Esto lo centra horizontalmente*/
    align-items: center; /* Esto lo centra verticalmente*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    border-radius: 40px;
}
ul{
text-align: center;
}

.box_design{
    height: 150px;
    background-color: rgba(255, 136, 0, 0.7);
    border-radius: 40px;
    justify-content: center; /* Esto lo centra horizontalmente*/
    align-items: center; /* Esto lo centra verticalmente*/
    display: flex;

}

.flex_center{
    display: 55px;
    justify-content: center;

}

#fotos_prom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}
#fotos_prom img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}
#fotos_prom img:hover{
    transform: scale(1.15);
}